[Unit]
Description=MAVLink System Time Synchronization
After=network.target

[Service]
ExecStart=python3 /usr/local/bin/mavlinktimesync.py
User=root
Restart=always

[Install]
WantedBy=multi-user.target
